{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container jumbotron mt-3">
  <h1 class="display-3">Bienvenue sur l'ACSCAPE !</h1>
  <p class="lead">Ceci est le futur back office pour la gestion des escapes games</p>
  <hr class="my-4">
  <p>A bientôt !</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Pour plus d'informations, rdv sur notre blog wordpress</a>
  </p>
</div>
{% endblock %}
